.carousel-text{
    text-align:start;
    margin-top: 20px;
}
.banner-color{
    background-color: #F7DEE5;
}
#shoes-section{
    margin-top: 180px;
}
.shoes-images{
    width: 311px;
    height: 200px;
    border-radius: 10px;
}